.footer-container {
    background-color: #f2f2f2;
    z-index: -1000;
    padding: 20px;
    text-align: center;
    margin-top: 500px;
    max-width: 100%;
  }
  
  .footer-social-icons {
    margin-bottom: 10px;
  }
  
  .footer-social-icons a {
    display: inline-block;
    margin-right: 10px;
    color: #333;
    font-size: 20px;
  }
  
  .footer-text {
    font-size: 14px;
    color: #666;
  }

  